
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, target-densitydpi=medium-dpi" />
        <link rel="stylesheet" href="/coxi-html-mo-master/css/common/common.css">
        <link rel="stylesheet" href="/coxi-html-mo-master/css/common/style.css">
        <link rel="stylesheet" href="/coxi-html-mo-master/css/swiper/swiper.min.css">
        <script type="text/javascript" src="/coxi-html-mo-master/js/jquery/jquery-3.2.1.min.js"></script>
        <script type="text/javascript" src="/coxi-html-mo-master/js/jquery-ui/jquery-ui-1.12.1.min.js"></script>
        <script type="text/javascript" src="/coxi-html-mo-master/js/swiper/swiper-4.5.0.min.js"></script>
        <script type="text/javascript" src="/coxi-html-mo-master/js/bpopup/jquery.bpopup-0.11.0.min.js"></script>
        <script type="text/javascript" src="/coxi-html-mo-master/js/common/common.js"></script>   
    </head>
    <body>
     

        <div class="container gallery_body close_type">
            <div class="content">
                <div class="gallery_view">
                    <div class="gallery_slider">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <img src="https://modo-phinf.pstatic.net/20180918_164/1537237639714VqUGk_JPEG/mosaeGMnFx.jpeg?type=w1100" alt="">
                            </div>
                            <div class="swiper-slide">
                                <img src="/coxi-html-mo-master/img/template/party_img.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    
        <script>
            //상품평 이미지 (슬라이드)
            var userReview = new Swiper('.gallery_slider', {
                zoom: true
            });
            //클릭하면 헤더,바텀 페이드인/아웃
            $('.close_type img').click(function() {
                window.close();
            });
        </script>
    </body>
</html>