

<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, target-densitydpi=medium-dpi" />
        <link rel="stylesheet" href="/coxi-html-mo-master/css/common/common.css">
        <link rel="stylesheet" href="/coxi-html-mo-master/css/common/style.css">
        <link rel="stylesheet" href="/coxi-html-mo-master/css/swiper/swiper.min.css">
        <script type="text/javascript" src="/coxi-html-mo-master/js/jquery/jquery-3.2.1.min.js"></script>
        <script type="text/javascript" src="/coxi-html-mo-master/js/jquery-ui/jquery-ui-1.12.1.min.js"></script>
        <script type="text/javascript" src="/coxi-html-mo-master/js/swiper/swiper-4.5.0.min.js"></script>
        <script type="text/javascript" src="/coxi-html-mo-master/js/bpopup/jquery.bpopup-0.11.0.min.js"></script>
        <script type="text/javascript" src="/coxi-html-mo-master/js/common/common.js"></script>   
    </head>
    <link rel="stylesheet" href="/coxi-html-mo-master/css/monthly/monthly.css">
    <script type="text/javascript" src="/coxi-html-mo-master/js/monthly/jquery.js"></script>
    <script type="text/javascript" src="/coxi-html-mo-master/js/monthly/monthly.js"></script>
    <body>
        <div class="sub_page">
            <!--헤더이름 // 스케줄-->
            <header id="header" class="after">
                <a href="#" class="back">뒤로가기</a>
                <h2>스케줄</h2>
            </header>
            <div class="container bottm_interval">
              <div class="content">
                  <div class="monthly" id="mycalendar"></div>
              </div>
            </div>
            <!--바텀네비 s-->
              <div class="bottom_nav">
                <ul class="after"> <!-- 활성 클래스는 on-->
                    <li><a href="#" class="home on">홈</a></li>
                    <li><a href="#" class="schedule">스케줄</a></li>
                    <li><a href="#" class="meeting"><span>모임 <i class="num">1</i></spa></a></li>
                    <li><a href="#" class="gallery">갤러리</a></li>
                    <li><a href="#" class="my_info">내 정보</a></li>
                </ul>
            </div>
            <!--바텀네비 e-->
            <script type="text/javascript">

              var sampleEvents = {
              "monthly": [
                {
                  "id": 1,
                  "name": "정모~",
                  "name2":"6월 대정모 알지", //달력리스트에 입력되는 이름
                  "startdate": "2019-06-25",
                  "enddate": "",
                  "starttime": "",
                  "endtime": "",
                  "color": "",
                  "url": "https://www.meatbox.co.kr/"
                },
                {
                  "id": 2,
                  "name": "연극ㅋ",
                  "name2":"김종욱찾기^^", //달력리스트에 입력되는 이름
                  "startdate": "2019-06-25",
                  "enddate": "",
                  "starttime": "",
                  "endtime": "",
                  "color": "",
                  "url": ""
                },
                {
                  "id": 3,
                  "name": "영화ㅋ",
                  "name2":"어벤저스 보러갑니다", //달력리스트에 입력되는 이름
                  "startdate": "2019-06-26",
                  "enddate": "",
                  "starttime": "",
                  "endtime": "",
                  "color": "",
                  "url": ""
                },
                {
                  "id": 4,
                  "name": "연극ㅎ", //달력에 입력되는 이름
                  "name2":"내맘이야", //달력리스트에 입력되는 이름
                  "startdate": "2019-06-29",
                  "enddate": "",
                  "starttime": "11:00",
                  "endtime": "",
                  "color": "",
                  "url": ""
                }
                ,
                {
                  "id": 5,
                  "name": "언어", //달력에 입력되는 이름
                  "name2":"후랑수", //달력리스트에 입력되는 이름
                  "startdate": "2019-06-29",
                  "enddate": "",
                  "starttime": "14:30",
                  "endtime": "",
                  "color": "",
                  "url": ""
                }
                ,
                {
                  "id": 6,
                  "name": "인문학", //달력에 입력되는 이름
                  "name2":"인문학이과", //달력리스트에 입력되는 이름
                  "startdate": "2019-06-29",
                  "enddate": "",
                  "starttime": "17:30",
                  "endtime": "",
                  "color": "",
                  "url": ""
                }
                ,
                {
                  "id": 10,
                  "name": "인문학", //달력에 입력되는 이름
                  "name2":"인문학이과", //달력리스트에 입력되는 이름
                  "startdate": "2019-06-29",
                  "enddate": "",
                  "starttime": "17:30",
                  "endtime": "",
                  "color": "",
                  "url": ""
                }
                ,
                {
                  "id": 7,
                  "name": "인문학", //달력에 입력되는 이름
                  "name2":"인문학이과", //달력리스트에 입력되는 이름
                  "startdate": "2019-05-03",
                  "enddate": "",
                  "starttime": "17:30",
                  "endtime": "",
                  "color": "",
                  "url": ""
                }
                ,
                {
                  "id": 8,
                  "name": "인문학", //달력에 입력되는 이름
                  "name2":"인문학이과", //달력리스트에 입력되는 이름
                  "startdate": "2019-07-03",
                  "enddate": "",
                  "starttime": "17:30",
                  "endtime": "",
                  "color": "",
                  "url": ""
                },
                {
                  "id": 20,
                  "name": "정모합니다",
                  "name2":"11월 대정모 알지", //달력리스트에 입력되는 이름
                  "startdate": "2021-11-23",
                  "enddate": "",
                  "starttime": "",
                  "endtime": "",
                  "color": "",
                  "url": "https://www.naver.com/"
                },
              ]
              };
            
              $(window).load( function() {
                $('#mycalendar').monthly({
                  mode: 'event',
                  dataType: 'json',
                  events: sampleEvents
                });
              });
            
              
            </script>

        </div>
    </body>
</html>
     