
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, target-densitydpi=medium-dpi" />
        <link rel="stylesheet" href="/coxi-html-mo-master/css/common/common.css">
        <link rel="stylesheet" href="/coxi-html-mo-master/css/common/style.css">
        <link rel="stylesheet" href="/coxi-html-mo-master/css/swiper/swiper.min.css">
        <script type="text/javascript" src="/coxi-html-mo-master/js/jquery/jquery-3.2.1.min.js"></script>
        <script type="text/javascript" src="/coxi-html-mo-master/js/jquery-ui/jquery-ui-1.12.1.min.js"></script>
        <script type="text/javascript" src="/coxi-html-mo-master/js/swiper/swiper-4.5.0.min.js"></script>
        <script type="text/javascript" src="/coxi-html-mo-master/js/bpopup/jquery.bpopup-0.11.0.min.js"></script>
        <script type="text/javascript" src="/coxi-html-mo-master/js/common/common.js"></script>   
    </head>
    <body>
        <div class="sub_page">
            <header id="header" class="after full_head">
                <h2>가입 완료</h2>
            </header>
            <div class="container">
                <div class="content">
                    <div class="complete_wrap">
                        <div class="complete">
                            <strong class="title">축하합니다! <br> 회원가입이 완료되었습니다.</strong>
                        </div>
                        <div class="fixed btn_area">
                            <button type="button" class="st_of radius_100">모임 둘러보기</button>
                            <button type="button" class="st_of border_100">내 정보 확인하기</button>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </body>
</html>