
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, target-densitydpi=medium-dpi" />
        <link rel="stylesheet" href="/coxi-html-mo-master/css/common/common.css">
        <link rel="stylesheet" href="/coxi-html-mo-master/css/common/style.css">
        <link rel="stylesheet" href="/coxi-html-mo-master/css/swiper/swiper.min.css">
        <script type="text/javascript" src="/coxi-html-mo-master/js/jquery/jquery-3.2.1.min.js"></script>
        <script type="text/javascript" src="/coxi-html-mo-master/js/jquery-ui/jquery-ui-1.12.1.min.js"></script>
        <script type="text/javascript" src="/coxi-html-mo-master/js/swiper/swiper-4.5.0.min.js"></script>
        <script type="text/javascript" src="/coxi-html-mo-master/js/bpopup/jquery.bpopup-0.11.0.min.js"></script>
        <script type="text/javascript" src="/coxi-html-mo-master/js/common/common.js"></script>   
    </head>
    <body>
        <div class="sub_page">
            <!--헤더이름 // 내 정보 수정-->
            <header id="header" class="after">
                <a href="#" class="back">뒤로가기</a>
                <h2>타이틀</h2>
            </header>
            <div class="container">
                <div class="content">
                    <div class="login_wrap">
                        <div class="table_cell">
                            <div class="log">
                                <h2><img src="/coxi-html-mo-master/img/ico/login_logo.png" alt="cozi"></h>
                                <div class="btn_area"> 
                                    <button type="button" class="st_of radius_100">로그인</button>
                                </div>
                                <button type="button" class="born kakao_btn"><img src="/coxi-html-mo-master/img/ico/kakao_logo.png" alt="카카오로고"> 카카오로 회원가입</button>
                            </div>
                            <ul class="mypage_list">
                                <li>
                                    <a href="/coxi-html-mo-master/views/mypage/mypage_notice_view.html">
                                        <strong>공지 사항</strong>
                                    </a>
                                </li>
                                <li>
                                    <a href="/coxi-html-mo-master/views/mypage/kakao_talk.html">
                                        <strong>단톡방 참여하기(준회원)</strong>
                                    </a>
                                </li>
                                <li>
                                    <a href="/coxi-html-mo-master/views/mypage/mypage_intro.html">
                                        <strong>코지(COXI) 소개</strong>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>