

<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, target-densitydpi=medium-dpi" />
        <link rel="stylesheet" href="/coxi-html-mo-master/css/common/common.css">
        <link rel="stylesheet" href="/coxi-html-mo-master/css/common/style.css">
        <link rel="stylesheet" href="/coxi-html-mo-master/css/swiper/swiper.min.css">
        <script type="text/javascript" src="/coxi-html-mo-master/js/jquery/jquery-3.2.1.min.js"></script>
        <script type="text/javascript" src="/coxi-html-mo-master/js/jquery-ui/jquery-ui-1.12.1.min.js"></script>
        <script type="text/javascript" src="/coxi-html-mo-master/js/swiper/swiper-4.5.0.min.js"></script>
        <script type="text/javascript" src="/coxi-html-mo-master/js/bpopup/jquery.bpopup-0.11.0.min.js"></script>
        <script type="text/javascript" src="/coxi-html-mo-master/js/common/common.js"></script>   
    </head>
    <body>
        <div class="sub_page auto_hei">
            <!--헤더이름 // 로그인-->
            <header id="header" class="after">
                <a href="#" class="back">뒤로가기</a>
                <h2>타이틀</h2>
            </header>
            <div class="container whole_hei">
                <div class="content">
                    <div class="login_wrap">
                        <div class="table_cell">
                            <div class="log">
                                <button type="button" class="kakao_btn"><img src="/coxi-html-mo-master/img/ico/kakao_logo.png" alt="카카오로고"> 카카오로 로그인</button>
                            </div>
                            <div class="memder_join">
                                <span class="are_you"><span>아직 회원이 아니세요?</spa></span>
                                <button type="button" class="born kakao_btn"><img src="/coxi-html-mo-master/img/ico/kakao_logo.png" alt="카카오로고"> 카카오로 회원가입</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>