
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, target-densitydpi=medium-dpi" />
        <link rel="stylesheet" href="/coxi-html-mo-master/css/common/common.css">
        <link rel="stylesheet" href="/coxi-html-mo-master/css/common/style.css">
        <link rel="stylesheet" href="/coxi-html-mo-master/css/swiper/swiper.min.css">
        <script type="text/javascript" src="/coxi-html-mo-master/js/jquery/jquery-3.2.1.min.js"></script>
        <script type="text/javascript" src="/coxi-html-mo-master/js/jquery-ui/jquery-ui-1.12.1.min.js"></script>
        <script type="text/javascript" src="/coxi-html-mo-master/js/swiper/swiper-4.5.0.min.js"></script>
        <script type="text/javascript" src="/coxi-html-mo-master/js/bpopup/jquery.bpopup-0.11.0.min.js"></script>
        <script type="text/javascript" src="/coxi-html-mo-master/js/common/common.js"></script>   
    </head>
    <body>
        <div class="sub_page">
            <!--헤더이름 // 모임-->
            <header id="header" class="after">
    <a href="#" class="back">뒤로가기</a>
    <h2>타이틀</h2>
</header>

            <div class="container">
                <div class="content">
                    <button type="button" class="filter">필터</button>
                    <div class="list_wrap">
                        <div class="list_area"> 
                            <ul>
                                <li class="empty">
                                    <a href="#">
                                        <strong class="title">진행 중인 모임이 없습니다.</strong>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!--바텀네비 s-->
    <div class="bottom_nav">
        <ul class="after"> <!-- 활성 클래스는 on-->
            <li><a href="#" class="home on">홈</a></li>
            <li><a href="#" class="schedule">스케줄</a></li>
            <li><a href="#" class="meeting"><span>모임 <i class="num">1</i></spa></a></li>
            <li><a href="#" class="gallery">갤러리</a></li>
            <li><a href="#" class="my_info">내 정보</a></li>
        </ul>
    </div>
    <!--바텀네비 e-->
            </div>
        </div>

        <!-- 햄버거 메뉴 s-->
        <div onclick="history.back();" class="page_cover hbr_comm"></div>
        <div id="filter_layer" class="hbr_comm">
            <h4 class="filter">필터</h4>
            <ul class="chk_area">
                <li class="chk_box">
                    <label class="checked"><input type="radio" name="party_kind" class="check_st" checked>전체 모임 보기</label>
                </li>
                <li class="chk_box">
                    <label><input type="radio" name="party_kind" class="check_st">독서</label>
                </li>
                <li class="chk_box">
                    <label><input type="radio" name="party_kind" class="check_st">소셜모임</label>
                </li>
                <li class="chk_box">
                    <label><input type="radio" name="party_kind" class="check_st">자기계발</label>
                </li>
                <li class="chk_box">
                    <label><input type="radio" name="party_kind" class="check_st">강연</label>
                </li>
                <li class="chk_box">
                    <label><input type="radio" name="party_kind" class="check_st">스포츠</label>
                </li>
                <li class="chk_box">
                    <label><input type="radio" name="party_kind" class="check_st">문화생활</label>
                </li>
            </ul>
            <ul class="chk_area">
                <li class="chk_box">
                    <label class="checked"><input type="radio" name="add_kind" class="check_st" checked>가까운 스케줄 순</label>
                </li>
                <li class="chk_box">
                    <label><input type="radio" name="add_kind" class="check_st">등록 순</label>
                </li>
            </ul>
        </div>
        <!-- 햄버거 메뉴 e-->
    </body>
    <script>
        // 체크박스
        $('.chk_box label').on('click', function() {
            $('.chk_box input:checked').parent().addClass('checked');
            $('.chk_box input:not(:checked)').parent().removeClass('checked');
        });
        // 03 햄버거 메뉴
        $(".filter").click(function() {
            $(".hbr_comm,html").addClass("open");
            window.location.hash = "#open";
            });
            window.onhashchange = function() {
            if (location.hash != "#open") {
                $(".hbr_comm,html").removeClass("open");
            }
        };
    </script>
</html>