
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, target-densitydpi=medium-dpi" />
        <link rel="stylesheet" href="/coxi-html-mo-master/css/common/common.css">
        <link rel="stylesheet" href="/coxi-html-mo-master/css/common/style.css">
        <link rel="stylesheet" href="/coxi-html-mo-master/css/swiper/swiper.min.css">
        <script type="text/javascript" src="/coxi-html-mo-master/js/jquery/jquery-3.2.1.min.js"></script>
        <script type="text/javascript" src="/coxi-html-mo-master/js/jquery-ui/jquery-ui-1.12.1.min.js"></script>
        <script type="text/javascript" src="/coxi-html-mo-master/js/swiper/swiper-4.5.0.min.js"></script>
        <script type="text/javascript" src="/coxi-html-mo-master/js/bpopup/jquery.bpopup-0.11.0.min.js"></script>
        <script type="text/javascript" src="/coxi-html-mo-master/js/common/common.js"></script>   
    </head>
    <body>
        <div class="sub_page auto_hei">
            <!--헤더이름 // 댓글 수정하기-->
            <header id="header" class="after">
                <a href="#" class="back">뒤로가기</a>
                <h2>타이틀</h2>
            </header>
            <div class="container whole_hei">
                <div class="content">
                    <div class="reply_wirte">
                        <div class="wirte_wrap">
                            <div class="wirte_box">
                                <span class="boX_text"><textarea class="reply_txt" name="reply_txt">우와재밌겠다</textarea></span>
                                <button type="button" class="red_btn reply_btn">등록</button>
                            </div>
                        </div>
                        <div class="reply_box"><p class="reply_input">우와재밌겠다</p></div>
                    </div>
                </div>
            </div>
        </div>
    </body>
    <script>
    // 로드되면 인풋박스에 포커스
    $(document).ready(function() {
        $('.reply_txt').focus();
    });
    // 텍스트 쓰면 .reply_input 에 출력
    $('.reply_txt').keyup(function() {
        var keyed = $(this).val().replace(/\n/g, '<br/>');
        $(this).height(1).height( $(this).prop('scrollHeight'));	
        $(".reply_input").html(keyed);
    });
    </script>
</html>