
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, target-densitydpi=medium-dpi" />
        <link rel="stylesheet" href="/coxi-html-mo-master/css/common/common.css">
        <link rel="stylesheet" href="/coxi-html-mo-master/css/common/style.css">
        <link rel="stylesheet" href="/coxi-html-mo-master/css/swiper/swiper.min.css">
        <script type="text/javascript" src="/coxi-html-mo-master/js/jquery/jquery-3.2.1.min.js"></script>
        <script type="text/javascript" src="/coxi-html-mo-master/js/jquery-ui/jquery-ui-1.12.1.min.js"></script>
        <script type="text/javascript" src="/coxi-html-mo-master/js/swiper/swiper-4.5.0.min.js"></script>
        <script type="text/javascript" src="/coxi-html-mo-master/js/bpopup/jquery.bpopup-0.11.0.min.js"></script>
        <script type="text/javascript" src="/coxi-html-mo-master/js/common/common.js"></script>   
    </head>
    <body>
        <div class="sub_page">
            <!--헤더이름 // 공지 사항-->
            <header id="header" class="after">
                <a href="#" class="back">뒤로가기</a>
                <h2>타이틀</h2>
            </header>
           
            <div class="container">
                <div class="content">
                    <div class="mypage_list">
                        <ul>
                            <li>
                                <a href="#">
                                    <em class="date">2019.04.26</em>
                                    <strong><span>[공지]</span> 지역광고 카테고리 게시글의 노출 기준이 변경되었어요.</strong>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <em class="date">2019.04.26</em>
                                    <strong><span>[이벤트]</span> 지역광고 카테고리 게시글의 노출 기준이 변경되었어요.</strong>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <em class="date">2019.04.26</em>
                                    <strong><span>[알림]</span> 지역광고 카테고리 게시글의 노출 기준</strong>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <em class="date">2019.04.26</em>
                                    <strong><span>[공지]</span> 지역광고 카테고리 게시글지역광고 카테고리 게시글지역광고 카테고리 게시글지역광고 카테고리 게시글의 노출 기준지역광고 카테고리 게시글의 노출 기준</strong>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <em class="date">2018.04.26</em>
                                    <strong><span>[알림]</span> 지역광고 카테고리 게시글의 노출 기준지역광고 카테고리 게시글의 노출 기준</strong>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>