
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, target-densitydpi=medium-dpi" />
        <link rel="stylesheet" href="/coxi-html-mo-master/css/common/common.css">
        <link rel="stylesheet" href="/coxi-html-mo-master/css/common/style.css">
        <link rel="stylesheet" href="/coxi-html-mo-master/css/swiper/swiper.min.css">
        <script type="text/javascript" src="/coxi-html-mo-master/js/jquery/jquery-3.2.1.min.js"></script>
        <script type="text/javascript" src="/coxi-html-mo-master/js/jquery-ui/jquery-ui-1.12.1.min.js"></script>
        <script type="text/javascript" src="/coxi-html-mo-master/js/swiper/swiper-4.5.0.min.js"></script>
        <script type="text/javascript" src="/coxi-html-mo-master/js/bpopup/jquery.bpopup-0.11.0.min.js"></script>
        <script type="text/javascript" src="/coxi-html-mo-master/js/common/common.js"></script>   
    </head>
    <body>
        <div class="sub_page">
            <!--헤더이름 // 나의 page-->
            <header id="header" class="after">
                <a href="#" class="back">뒤로가기</a>
                <h2>타이틀</h2>
            </header>
           
            <div class="container color_bg">
                <div class="content">
                    <div class="mypage_intro datail_cozi">
                        <div class="layout top_area">
                            <h3>코지와 함께 인생이라는 책을 <br> 함께 써내려가요</h3>
                            <p>독서를 통해, 경험을 통해, 관계 형성을 통해 <br> 당신의 삶은 더 풍요로워집니다 :)</p>
                            <div class="my_grade">
                                <p>이정원님의 페이지 <strong>300pages</strong></p>
                            </div>
                        </div>
                        <div class="layout bt_area">
                            <h3>활동별 pages 수집</h3>
                            <ol class="activity after">
                                <li class="book">
                                    <em>독서모임 참여</em>
                                    <span>20 pages</span>
                                </li>
                                <li class="social">
                                    <em>소셜모임 참여</em>
                                    <span>10 pages</span>
                                </li>
                                <li class="images">
                                    <em>사진 올리기</em>
                                    <span>2 pages</span>
                                </li>
                                <li class="reply">
                                    <em>댓글 달기</em>
                                    <span>1 pages</span>
                                </li>
                            </ol>
                            <div class="bottom_noti">
                                <p>· 최대 페이지는 1,000 페이지입니다. <br> &nbsp;&nbsp;&nbsp;(시작은 300페이지 입니다.)</p>
                                <p>· 수집한 페이지는 6개월 후 초기화됩니다.</p>
                            </div>
                        </div>
                    </div>
                    <!--바텀네비 s-->
                    <div class="bottom_nav">
                        <ul class="after"> <!-- 활성 클래스는 on-->
                            <li><a href="#" class="home on">홈</a></li>
                            <li><a href="#" class="schedule">스케줄</a></li>
                            <li><a href="#" class="meeting"><span>모임 <i class="num">1</i></spa></a></li>
                            <li><a href="#" class="gallery">갤러리</a></li>
                            <li><a href="#" class="my_info">내 정보</a></li>
                        </ul>
                    </div>
                    <!--바텀네비 e-->
                </div>
            </div>
        </div>
    </body>
</html>